@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
ion-title {
    text-align: center;
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}

ion-header {
    background: #545454;
    --background: #545454;
}

ion-toolbar {
    background: #545454;
    --background: #545454;
}